@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Varela&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  background: #273244;
}

h1 {
  font-family: 'Varela', sans-serif;
}

a {
  text-decoration: none;
}
