.pageMain {
  width: 100vw;
}

.pageHeader {
  height: 60px;
  width: 100vw;
  padding: 10px;
}

.menuHeader {
  display: flex;
  justify-content: space-between;

  padding-left: 2%;
  padding-right: 2%;
}

.imgLogoMenu {
  flex: 1;
}

.imgLogoMenu img {
  flex: 1;
  width: 170px;
}


.listMenu {
  list-style: none;
}

.listMenu li {
  display: inline;
  text-decoration: none;
  margin: 15px;
  color: #FFF;
  font-size: 24px;
}

.listMenu li a {
  text-decoration: none;
  color: #FFF;

  transition: color 0.2s;
}

.listMenu li a:hover {
  color: rgb(76, 174, 253);
}

.apresentation {
  display: flex;
  justify-content: space-around;
  height: 700px;
  width: 100vw;
  padding: 30px;
}

.textLeft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.textLeft h1 {
  font-size: 30pt;
  color: #3871FF;
}

.textLeft p {
  color: #FFF;
  font-size: large;
}

.listSocial {
  list-style: none;
  margin-top: 10px;
}

.listSocial li {
  display: inline;
  text-decoration: none;
  margin-right: 20px;
  color: #3871FF;

  transition: color 0.3s;
}

.listSocial li:hover {
  color: #0e52ff;
}

.listSocial li a {
  text-decoration: none;
  color: inherit;
}

.logoRight {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logoRight img {
  flex: 1;
  width: 350px;
}

.imgArrowADown {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-bottom: 100px;
}

.imgArrowADown img {
  width: 50px;
}

.myProjects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: auto;
  color: #FFF;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 3%;
  padding: 3%;
}

.cardProject {
  width: 370px;
  height: auto;
  background: #212b3a;
  padding: 0 10px 10px 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-between;
  margin: 10px;
  padding: 20px;
  color: #FFF;
  border: 2px solid #212b3a;

  transition: border-color .3s;
}

.cardProject:hover {
  border-color: #2261FF;
}

.cardProject h3 {
  font-size: 1.7rem;
}

.cardProject p {
  font-size: 1.1rem;
  margin-top: 15px;
}

.projectsTags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 100%;
}

.projectsTags span {
  margin-top: 15px;
  margin-right: 10px;
  padding: 5px 15px;
  background: #273244;

  border-radius: 4px;
}

.cardFooter {
  margin-top: 15px;
}

.btnViewCode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px 15px;
  border-radius: 4px;
  outline: none;
  color: #FFF;
  background: #3871FF;
  cursor: pointer;
  border: none;
  font-size: 1.1rem;
  text-decoration: none;

  transition: opacity 0.3s;
}

.btnViewCode:hover {
  opacity: 0.8;
}

.aboutMe {
  min-height: 700px;
  background: linear-gradient(0.28deg, #2261FF 0.26%, rgba(66, 120, 255, 0) 99.78%);
  padding: 50px;
}

.aboutMe h1 {
  color: #FFF;
  text-align: center;
  margin-bottom: 20px;
}

.aboutMeContent {
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.aboutMeContent article:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-right: 20px;
  color: #FFF;
  font-size: 18pt;
}

.aboutMeContent article:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  height: 400px;
  width: 300px;
}

.aboutMeContent article:nth-child(2) img {
  height: inherit;
  width: inherit;
}

.techs {
  height: auto;

  background: #FFF;
  color: #273244;
  padding: 40px 0px;
}

.techsContent {
  width: 80%;
  margin: auto;

  display: flex;
  justify-content: space-evenly;
}

.techs article:nth-child(1) {
  font-size: 20pt;

  width: 40%;
}

.techs article:nth-child(1) h1 {
  color: #2261FF;
}

.techs article:nth-child(1) p {
  color: #273244;
  font-size: 1.5rem;
}

.techs article:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;

  flex-wrap: wrap;
}

.techs article:nth-child(2) span {
  padding: 30px;
  margin: 5px;

  border-radius: 8px;

  background-color: #3871FF;
  color: #FFF;

  transition: opacity .3s;
}

.techs article:nth-child(2) span:hover {
  opacity: 0.8;
  cursor: pointer;
}

.iconTech {
  width: 60px;
  height: 60px;

  color: #FFF;
}

.footer {
  padding: 40px;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: #FFF;
  font-size: small;
}

.footer img {
  max-width: 100px;
  margin: 20px;
}

.returnTop {
  padding: 15px 20px;
  margin: 20px;
  border-radius: 8px;

  float: right;

  background: #212b3a;
  color: #FFF;

  transition: opacity .3s;
}

.returnTop:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 414px) {
  .pageHeader {
    display: none;
  }

  .apresentation {
    justify-content: center;
    flex-direction: column-reverse;
    height: 600px;
  }

  .apresentation h1:nth-child(2) {
    font-size: 18pt;
    color: #FFF;
  }

  .textLeft {
    align-items: center;
  }

  .textLeft p {
    display: none;
  }

  .logoRight {
    align-items: center;
  }

  .logoRight img {
    width: 230px;
  }

  .subtitle {
    text-align: center;
  }

  .aboutMe {
    padding: 20px;
  }

  .aboutMe h1 {
    margin-bottom: 0;
  }

  .aboutMeContent {
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 10px;
    width: 90%;
  }

  .aboutMeContent {
    height: auto;
    align-items: center;
    width: 100%;
  }

  .aboutMeContent article:nth-child(2) {
    height: auto;
    align-items: center;
  }

  .aboutMeContent article:nth-child(2) img {
    display: block;
    width: 230px;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .aboutMeContent article:nth-child(1) {
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 15pt;
  }

  .techsContent {
    flex-direction: column;
  }

  .techsContent article:nth-child(0) {
    width: 100%;
  }

  .techsContent article:nth-child(1) {
    margin-bottom: 20px;

    width: 100%;
  }

  .iconTech {
    width: 40px;
    height: 40px;
  }
}
